body {
    font-family: Arial, sans-serif;
    background-color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 30%;
    margin: 50px auto;
    padding: 30px;
    background-color: blue;
    color: white;
    border: 15px solid red;
    text-align: left;
}

h1 {
    text-align: center;
    font-size: 2.2em;
    font-weight: bold;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.introduction, .education {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.introduction {
    background-color: orange; /* First colored box */
    color: navy;
}

.education {
    background-color: green; /* Second colored box */
    color: white;
}

ul {
    padding-left: 20px;
    margin-left: 20px;
}

ul li {
    margin-bottom: 5px;
    font-size: 1.1em;
}

p, li {
    color: yellow;
}

h1 {
    text-align: center;
}


.links a {
    color: white;
    text-decoration: none; /* Removes underline */
    font-weight: bold;
}

.links a:hover {
    color: lightgray;
}
